:root {
	--text-color: #f0f4f5;
	--color-op30: #f0f4f52e;
	--color-op50: #f0f4f576;
	--color-op70: #f0f4f5a9;
	--color-op90: #f0f4f5de;
	--background-color: #26334300;
	--sub-color: #d49466;
	--hover-color: rgba(0, 0, 0, 0.095);
}
.hidden{
	display: none;
}
body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}
a {
	text-decoration: none;
	color: var(--text-color);
}
li {
	list-style: none;
	padding-left: 0px;
}
i:hover{
	color: var(--sub-color);
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--background-color);
	padding: 8px 12px;
	border-bottom: 1px solid var(--sub-color);
}
.navbar_logo {
	font-size: 2rem;
	color: var(--text-color);
}
.navbar_menu {
	display: flex;
	list-style: none;
	padding-left: 0;
}
.navbar_menu li {
	padding: 8px 12px;
}
.navbar_menu li:hover {
	background-color: var(--sub-color);
	border-radius: 5px;
}
.navbar_icons {
	color: var(--text-color);
	display: flex;
	list-style: none;
	padding-left: 0;
	margin-left: 8%;
}
.navbar_icons i {
	padding: 8px 4px;
}
.navbar_toogle {
	display: none;
	position: absolute;
	right: 32px;
	font-size: 24px;
}
/*
/JS 영역
*/
.background{
	width: inherit;
	height: inherit;
	filter: brightness(50%);
	object-fit: cover;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
.content{
	height: 80vh;
	color: var(--color-op70);
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#clock{
	margin: 0;
	font-size:  10rem;
	color: var(--color-op50);
}
#clock:hover{
	color: var(--color-op90);
}
#todo-list{
	display: flex;
	flex-direction: column;
	padding-left: 0;
	font-size: 1.5em;
}
#todo-list li i{
	color: var(--color-op30);
	padding-right: 5px;
	padding-left: 12px;
}
#todo-list li i:hover{
	color: var(--sub-color);
}
#tips{
	color: var(--color-op70);
	display: flex;
	flex-direction: column;
	align-items: center;
}
#tips :nth-child(2){
	opacity: 0.5;
}
#tips:hover{
	background-color: var(--hover-color);
	color: var(--color-op90);
}
#todo-form input{
	width: 30vw;
	height: 3vh;
	background-color: rgba(255, 255, 255, 0);
	outline:none;
	border: 0;
	border-bottom: 2px solid var(--text-color);
	text-align:center;
	color: var(--text-color);
	font-size: 1.8em;
}
#todo-form input::placeholder{
	color: #f0f4f598;
	font-size: 1em;
	text-align: center;
}
.checkLine{
	text-decoration:line-through;
}
#weather{
	color: var(--color-op50);
	font-size: 1.5em;
}
.test{
	background-color: blueviolet;
}
#menuBox{
	width: 100px;
	height: 100px;
	color: aliceblue;
	background-color: #202124;
}


@media screen and (max-width: 800px) {
	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 8px 24px;
	}
	.navbar_menu {
		display: none;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}
	.navbar_menu li {
		width: 100%;
		text-align: center;
	}
	.navbar_icons {
		display: none;
		justify-content: center;
		width: 100%;
		margin-left: 0;
	}
	.navbar_toogle {
		display: block;
	}
	.navbar_menu.active,
	.navbar_icons.active {
		display: flex;
	}
	#clock{
		font-size:  4rem;
	}
	#todo-list{
		font-size: 1.7em;
	}
	#todo-form input{
		font-size: 1em;
		width: 40vw;
	}
	#todo-form input::placeholder{
		font-size: 1em;
	}
	#weather{
		font-size: 1em;
	}
}
